.card-container 
    .card-image-container
        img.card-image(src='assets/images/illustration-article.svg', alt='Blog Image')
    .card-category(data-i18n='category')
    .card-date(data-i18n='card_date')
    .card-title(data-i18n='card_title')
    .card-description(data-i18n='card_description')
    .card-author-container 
        img.card-author-image(src='assets/images/image-avatar.webp', alt='Author Avatar')
        .card-author-name Greg Hooper 
