:root {
    --color-white: hsl(0, 0%, 100%);
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-black: hsl(0, 0%, 0%);
}

// SCSS variables referencing CSS variables
$white: var(--color-white);
$yellow: var(--color-yellow);
$gray-500: var(--color-gray-500);
$gray-950: var(--color-gray-950);

// Font sizes
$fs-xxs: 1rem; 
$fs-xs: 1.25rem; 
$fs-sm: 1.75rem; 
$fs-base: 2rem;
$fs-lg: 2.125rem;

// Line heights
$lh-base: 1.5rem;

//Breakpoint
$bp-sm: 480px;

@mixin respond($breakpoint) {
    @if $breakpoint == sm {
        @media (min-width: $bp-sm) { @content }
    }
}
